/* app/javascript/styles/app.css */
.app-container {
  max-width: 880px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

.form-narrow {
  max-width: 880px !important;
}


